* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: url("/Images/Background.png");
  font-family: sans-serif;
}

footer {
  background-image: url("/Images/Buffer.jpg");
  background-repeat: repeat-x;
  height: 75px;
  width: 100%;
  margin-left: -6px;
  padding-right: 14px;
  bottom: -2em;
  position: fixed;
}

.emailForm {
  width: 500px;
  margin: auto;
}
.emailForm .emailField {
  width: 90%;
  height: 20px;
}
.emailForm .button {
  margin: 10px auto;
  height: 20px;
  text-align: center;
  width: 50%;
  left: 25%;
  position: relative;
}
.content{
  margin-bottom: 80px;
}
