* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: sans-serif;
}

body {
  background: url("/Images/Background.png");
}

.content {
  margin-bottom: 80px;
  margin-top: 40px;
}

.wrapper {
  background: #fff;
  margin: 30px 10%;
  width: 80%;
  border-radius: 8px;

  .nav-pills li {
    width: 33%;
    a {
      border-radius: none;
      &:first-child {
        border-radius: 8px 0 0 0;
      }
    }
  }

  .btn{
    background-image: none;
    background-color: steelblue;
    color: whitesmoke;
    text-shadow: none;
    border: none;
  }
}
