header {
  height: 75px;
  background-color: steelblue;
  color: whitesmoke;

  .header-wrapper {
    min-width: 600px;
    margin: auto;

    .page-title {
      font-size: 2em;
    }

    .help {
      float: right;
      margin-right: 20px;
      position: relative;
      top: 20px;
    }
  }
}
