@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="../../Content/src/js/Wizard.js"></script>
<script src="../../Content/src/js/controllers/WizardEmailControllerjs.js"></script>


<div ng-app="wizard">
    <div ng-controller="WizardEmailController">
        {{ stableName }}
    </div>
</div>