@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<!--<script src="../../Content/src/js/Wizard.js"></script>-->
<!--<script src="../../Content/src/js/controllers/WizardEmailControllerjs.js"></script>-->
<script src="../../Content/dist/js/all.min.js"></script>

<link href="../../Content/dist/css/all.min.css" media="all" rel="stylesheet">

<div ng-app="wizard">
    <div ng-controller="WizardEmailController">
        {{ stableName }}
    </div>
</div>
