<div ng-controller="wizardChargeController">
  <div class="StableChargeTypeGrid">
    <h3>Stable Charge Types</h3>
     <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:55%">Description</td>
        <td style="width:20%">Unit</td>
        <td style="width:10%">Rate ($)</td>
        <td style="width:16%">In Stable</td>
      </tr>
      <tr ng-repeat="charge in stableCharges">
        <td style="width:55%">
          <!-- editable description, text -->
          <div type="text" ng-click="rowform.$show();"  onshow="console.log('show', rowform);" onblur="console.log('blur', rowform);" editable-text="charge.description" e-name="charge.description" e-form="rowform" e-required value="{{ charge.description || '+ description' }}">
            {{ charge.description || '+ description' }}
          </div>
        </td>
        <td style="width:20%">
          <!-- editable units, dropdown -->
          <div editable-select="charge.unit" e-name="charge.unit" e-form="rowform" e-ng-options="u.value as u.text for u in units" value="{{ charge.unit }}" ng-click="rowform.$show()">
            {{ units[charge.unit].text }}
          </div>
        </td>
        <td style="width:10%">
          <!-- editable rates, number -->
          <div editable-number="charge.rate" e-name="charge.rate" e-form="rowform" e-ng-options="g.id as g.text for g in groups" ng-click="rowform.$show()">
            {{ charge.rate }}
          </div>
        </td>
        <td style="width:10%">
          <!-- editable units, checkbox -->
          <input type="checkbox" ng-click="rowform.$show()" e-form="rowform" ng-checked="{{charge.inStable}}" />
        </td>
        <td style="white-space: nowrap; padding: 0; width: 6%">
          <!-- form -->
          <form editable-form name="rowform" onbeforesave="postcharge($data, user.id)" class="form-buttons form-inline" shown="inserted == user">
          </form>
          <button class="btn btn-danger" ng-click="removeStableRow($index)">
            <i class="fa fa-trash fa-lg"></i>
          </button>
        </td>
      </tr>
    </table>

    <button class="btn btn-default" ng-click="addStableRow()">Add row</button>
  </div>

  <div class="standardChargeTypeGrid">
      <h3>Standard Charge Types</h3>
       <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
          <td style="width:80%">Description</td>
          <td style="width:20%">Rate ($)</td>
        </tr>
        <tr ng-repeat="charge in standardCharges">
          <td>
            <!-- editable username (text with validation) -->
            <div
            ng-click="standardform.$show()"
            editable-text="charge.description"
            e-name="description"
            e-form="standardform"
            onbeforesave="validateDescription($data, user.id)"
            e-required>
              {{ charge.description || '+ description' }}
            </div>
          </td>
          <td style="text-align: right;">
            <!-- editable group (select-remote) -->
            <div ng-click="standardform.$show()"
            editable-select="charge.rate"
            e-name="rate"
            e-form="standardform"
            class="number-field"
            e-ng-options="g.id as g.text for g in groups">
              {{ charge.rate || '0.00'}}
            </div>
          </td>
          <td style="white-space: nowrap; padding: 0;">
            <!-- form -->
            <form
            editable-form name="standardform"
            onbeforesave="saveChargeType($data, user.id)"
            class="form-buttons form-inline"
            shown="inserted == user">
              <button
              class="btn btn-danger"
              ng-click="removeStandardRow($index)">
              <i class="fa fa-trash fa-lg"></i>
              </button>
            </form>
          </td>
        </tr>
      </table>

      <button class="btn btn-default" ng-click="addStandardRow()">Add row</button>
    </div>

</div>
