<div class="row">
  <form name="stableForm" ng-submit="postStable(stable)" class="stable-form col-md-6 col-md-offset-3">
     <div class="form-group">
       <label>Stable Name</label>
       <input ng-model="stable.stableName" type="text" class="stable-name-field form-control"/>
     </div>
     <div class="form-group">
        <div class="radio">
          <label>
            <input ng-model="stable.racingCode" type="radio" name="racingCode" id="optionsRadios1" value="Gallops">
            Gallops
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio"  ng-model="stable.racingCode" name="racingCode" id="optionsRadios2" value="Greyhound">
            Greyhound
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio"  ng-model="stable.racingCode" name="racingCode" id="optionsRadios3" value="Harness">
            Harness
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio"  ng-model="stable.racingCode" name="racingCode" id="optionsRadios3" value="Thoroughbred">
            Thoroughbred
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="stable.racingCode" name="racingCode" id="optionsRadios3" value="Other">
            Other
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Trainer</label>
        <input ng-model="stable.trainer" type="text" class="trainer-field form-control"/>
      </div>
      <div class="form-group">
        <label>Legal Entity</label>
        <input ng-model="stable.legalEntity" type="text" class="legal-entity-field form-control"/>
      </div>
       <div class="form-group">
        <label>Mobile</label>
        <input ng-model="stable.mobile" type="text" class="mobile-field form-control"/>
      </div>
       <div class="form-group">
        <label>Phone</label>
        <input ng-model="stable.phone" type="text" class="phone-field form-control"/>
      </div>
       <div class="form-group">
        <label>Fax</label>
        <input ng-model="stable.fax" type="text" class="fax-field form-control"/>
      </div>
     <div class="form-group">
      <label>Address</label>
      <textarea ng-model="stable.address" class="address-field form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-default"/>
    </div>
  </form>
</div>
